
@{
    ViewBag.Title = "DonutInstructor";
}

<h2>Cantidad de cursos dictados por instructor</h2>
<div id="graph"></div>

<script>
    $(document).ready(function () {
        getData();
    });

    function getData() {
        $.get(urlBase + '/Dashboard/DonutInstructors').done(function (data) {

            Morris.Donut({
                element: 'graph',
                data: JSON.parse(data),
                formatter: function (x) { return x + " cursos"}
            }).on('click', function (i, row) {
                console.log(i, row);
            });

        }).fail(function (ex) {
            console.log(ex);
        });
    }

</script>